@import url('https://fonts.google.com/specimen/Forum')


.main-footer{
    background-color: #f4f4f2;
}

.jumbotron{
    background-color: #ff494b;
}
.rights{
    background-color: #d3d5d5;
}
.d-inlir{
    

}